body{
    background-color: #f3ecec;
    font-family: "Montserrat", sans-serif;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 100px; */
    /* margin-right: 10px; */
}
.container {
    background-color: #f2f3f4;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    border: 4mm ridge rgb(254, 233, 211);
}
.logo{
  width: 150px;
}

main {
    justify-content: center;
}

footer {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: large;
    background-color: #3d3e40;
    padding: 20px 20px 5px 20px;
    clear: both;
    position: relative;
    height: 200px;
    transition: 1s;
    letter-spacing: 0.3em;
}
.footer_text{
  color: white;
  margin-right: 15cm;
}

.title, i, h2 {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 10px 10px 70px 10px;
}

table {
    border: 2px solid black;
    margin-left: 50px;
    background-color: #c6bebe;
}

.container2 {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container5 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container6{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont6_2{
  margin-left: 80px;
}
.container7{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img1{
  margin-left: 50px;
}
.textblock1 {
    width: 450px;
    text-align: justify;
}
.text1{
  width: 80%;
}
.container3 {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-align: justify;
    padding: 20px;
}
